@page

<h2>O Loto 6 od 45</h2>
<p>Loto 6 od 45 je popularna lutrijska igra u kojoj igrači biraju 6 brojeva od mogućih 45. Cilj igre je pogoditi svih 6
  izvučenih brojeva kako bi osvojili glavnu nagradu. Izvlačenja se održavaju dva puta tjedno, a igrači mogu osvojiti
  različite nagrade ovisno o broju pogođenih brojeva.</p>

  